form {
  width: 90%;
  max-width: 400px;
  background-color: whitesmoke;
  margin: 0 auto;
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

label {
  text-align: center;
  font-size: 24px;
  color: #373A40;
  margin-bottom: 26px;
}

textarea {
  background-color: #F9FBFC;
  border: 2px solid #E0CCBE;
  border-radius: 10px;
  color: #776B5D;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 8em;
  width: calc(100% - 25px);
  font-family: "Archivo Black", sans-serif;

}

textarea::placeholder {
  color: #A5A5A5;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}

textarea:focus {
  outline-color: #eab3a0;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  width: 8em;
  height: 2.5em;
  border-radius: 10px;
  font-family: "Archivo Black", sans-serif;
}

.TodoForm-button--add {
  background: #ec997e;
  color: white;
  border: none;
}

.TodoForm-button--cancel {
  background: transparent;
  color: #373A40;
  border: 2px solid #dedede;

}