.Icon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Icon-svg {
  width: 30px;
  height: 30px;
}

.Icon-container-check {
  position: absolute;
  left: 12px;
}

.Icon-container-check:hover .Icon-svg {
  color: darkseagreen;
}

.Icon-container-delete {
  position: absolute;
  right: 12px;
}

.Icon-container-delete:hover .Icon-svg {
  color: lightcoral;
}

.Icon-container-edit {
  color: gainsboro;
  margin-left: 0.5em;
}

.Icon-container-edit:hover {
  color: #F5DD61;
}