.CreateButton {
  background-color:plum; 
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 150px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  z-index: 1;

  transform: rotate(0);
  transition: .3s ease;
}

.CreateButton:hover {
  transform: rotate(224deg);
}

