.TodoCounter__heading {
    color: white;
    text-align: center;
    font-size: 30px;
    width: 50%;
    min-width: 400px;
    height: auto;
}

.TodoCounter--loading {
    opacity: 25%;
    font-size: 30px;
}