h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 20px;
}

h1 span {
    background-image: linear-gradient(to right, #d2e0fb, #c8d4f2, #bec8e9, #b5bddf, #acb1d6);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	font-weight: 800;
	padding-left: 10px;
}