.CreateButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 84px;
	height: 84px;
	position: fixed;
	bottom: 24px;
	right: 24px;
	font-size: 50px;
	font-weight: bold;
	color: #fafafa;
	border: none;
	border-radius: 50%;
	cursor: pointer;
  	background-image: linear-gradient(to right, #efbbcf, #e1aac0, #d49ab1, #c68aa3, #b97a95);
	background-size: 200% auto;
}

.CreateButton:hover {
	background-position: right center;
}

.CreateButton::after {
	content: 'Agregar tarea';
	width: max-content;
	position: absolute;
	opacity: 0;
	right: 88px;
	padding: 12px;
	font-size: 1rem;
	border-radius: 8px;
  	background-image: linear-gradient(to left, #efbbcf, #e1aac0, #d49ab1, #c68aa3, #b97a95);
	transition: opacity 0.5s 0s ease;
}

.CreateButton:hover::after {
	opacity: 1;
}

@media only screen and (max-width: 768px) {
	.CreateButton {
		width: 64px;
		height: 64px;
		bottom: 24px;
		right: 24px;
	}

	.CreateButton::after {
		content: none;
	}
}
