.TodoCounter {
font-size:30px;
color: white;
text-align:center;
margin: 24px 0px;
font-weight: 400;
flex-direction: column;
}

.TodoCounter p {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
    display: inline-block;
    margin: 0px 0px 10px;
}

.TodoCounter--loading{
    opacity: 25%;
}
